{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="col-4">
    <h3>Sign in</h3>

    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="{{ url_for("login") }}" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group form-check">
        {{ form.remember_me.label }} {{ form.remember_me() }}
      </div>
      {{ form.submit() }}
    </form>
    <br>

    <div class="border p-3 bg-light">
    <p>New user? <a href=" {{ url_for("register") }}">Click here to register</a></p>
    </div>
  </div>
{% endblock %}
