{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h3>Register</h3>

    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form action="{{ url_for("register") }}" method="post" novalidate>
      {{ form.hidden_tag() }}

      {% if form.private_key %}
      <div class="form-group">
        {{ form.private_key.label }}<br>
        {{ form.private_key(size=32) }}
        {% for error in form.private_key.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password_confirm.label }}<br>
        {{ form.password_confirm(size=32) }}
        {% for error in form.password_confirm.errors %}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
      </div>

      {{ form.submit() }}
    </form>
{% endblock %}
